 rasa_sdk
 pluggy
 requests
 terminaltables
 jsonschema
 TarSafe
 numpy
 LegacyVersion
 jsonpickle
 randomname
 scipy
 aiohttp
 websockets==10.4
 aio_pika
 tqdm
 pymongo
 boto3
 sqlalchemy
 sentry_sdk
 sanic_jwt
 apscheduler
 python-socketio
 setuptools
 slack_sdk
 twilio
 google-auth
 tensorflow 
 scikit-learn
 dask
 matplotlib
 jieba
 rasa[transformers]